{% extends 'admin/base.html' %}
{% load i18n %}
{% load static %}
{% load extra_settings %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 class="head">
	<a href="{% url 'admin:index' %}">
		{% get_setting 'SITE_LOGO' as SITE_LOGO %}
		{% if SITE_LOGO != '' %}
			<img src="/media/{{ SITE_LOGO }}" width="50px" height="50px" class="ml-2 mr-2">
		{% endif %}

		<b>{% get_setting 'SITE_NAME' default='Logo' %}</b>
	</a>
</h1>
{% endblock %}

{% block extrastyle %}
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}


{% block welcome-msg %}

{% endblock %}


{% block userlinks %}
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img src="{{ user.profile_image.url }}" width="50" height="50" style="border-radius: 50%;">
			{% trans 'Welcome,' %}
			<strong>{% firstof user.get_short_name user.get_username %}</strong>.
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			{% if user.has_usable_password %}
				<a class="dropdown-item" href="{% url 'admin:password_change' %}"><i class="fas fa-lock fa-fw"></i> {% trans 'Change password' %}</a>
			{% endif %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> {% trans 'Log out' %}</a>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div class="row" style="margin-right: 0px;">
		<div style="color: #555" class="col-md-12 my-5 py-3 text-center">
			Copyright &copy; {% now 'Y' %} {% get_setting 'SITE_NAME' default='Logo' %} (v{% get_setting 'APP_VERSION' %})<br>
			{% get_setting "FOOTER" default="" as FOOTER %}
			{{FOOTER|safe}}
			<!--Powred By <a href="{% get_setting 'POWRED_BY_URL' %}" target="_blank" style="text-decoration: underline">{% get_setting 'POWRED_BY' %}</a>-->
		</div>
	</div>
	<!-- JavaScript -->
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.ar.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.fr.min.js' %}"></script>
{% endblock %}
