*[dir=ltr] {
	text-align: left;
}

*[dir=rtl] {
	text-align: right;
}

html {
	font-size: 1.2rem;
}

body {
	font-family: Inter, 'Markazi Text', Arial, sans-serif;
	background-color: transparent !important;
	background: url(../imgs/bg.jpg) repeat top left !important;
}

.pageheader {
	height: auto;
	background-color: #1e5055;
	color: #15b0c0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}

.card-body {
	padding: .5rem;
}

.card-footer {
	padding: .5rem .7rem;
}

/* style select items as category */
select.custom-select .select-category {
	background-color: #DDD;
	color: #444;
}

select.custom-select option {
	color: #777;
}

/*.custom-card {
	border-bottom: 1px solid #DDD;
	margin-bottom: 0px;
	display: flex;
	height: 150px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}*/

/*.custom-card:hover {
	backgroud-color: #DDD;
}*/

/*.custom-card .custom-card-body {
	margin: 5px 8px;
}*/

.custom-card-img {
	max-width: 185px;
	height: 130px;
	margin-left: 7px;
	margin-right: 7px;
	border: 1px solid #DDD;
	border-radius: 3px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.custom-card-img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}

.cardgrid {
	border-bottom: 1px solid #DDD;
	height: 150px;
	display: grid;
	grid-template-columns: max-content auto min-content;
	grid-template-areas: 	"header body footer";
}

.cardgrid:hover {
	background-color: #EEE;
}

.cardgrid .cardgrid-header {
	/*background-color: #DDD;*/
	grid-area: header;
	display: flex;
	align-items: center;
}

.cardgrid .cardgrid-body {
	/*background-color: #CCC;*/
	grid-area: body;
	padding: 20px 10px;
}

.cardgrid .cardgrid-footer {
	/*background-color: #1565C0;*/
	grid-area: footer;
	display: flex;
	align-items: center;
	padding: 10px;
}

.list-group-item.active {
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #17a2b8;
}

.navbar {
	padding: 0rem 1rem;
}

.navbar .navbar-brand {
	padding: .75em;
	background-color: #a0d10d;
	padding
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.85);
	padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
	background-color: #27b848;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 1);
}

footer .nav {
	justify-content: center;
}

#header-box {
	background-color: rgba(255, 255, 255, .5);
}

#header-box .container {
	padding-top: 1em;
	padding-bottom: 1em;
	color: #333;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#header-box .container #brand-logo {
	display: flex;
	align-items: center;
}

#header-box .container #brand-name {
	text-align: center;
	flex-grow: 1;
	align-self: stretch;
}

#header-box .container #brand-name > a {
	font-size: 1.3rem;
	font-weight: bolder;
	text-decoration: none;
	color: #28a745;
}

#header-box .container #brand-name > span {
	font-size: 1.5rem;
}

.jumbotron {
	margin-bottom: 0;
}

.box {
	font-size: 2rem;
	align-center: center;
	/*border: 1px solid #CCC;*/
	border-radius: .1em;
	padding: 1em;
	margin-bottom: 1em;
	color: #FFF;
	cursor: pointer;
	transition: .5s;
}

.box:hover {
	background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)) !important;
	background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)) !important;
	background-image: -ms-linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)) !important;
	background-image: -o-linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)) !important;
	background-image: -ms-linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)) !important;

	transform: scale(1.1);
}

.box:hover > i {
	transform: scale(2);
}

.box > i {
	display: block;
	padding: .5em;
	transition: .2s;
}
